* {
background-color: black;
color: white;
}

body{
text-align: center;
}

h1 {
color: purple;
}

#albumList {
height: 95vh;
width: 80%;
border: 2px dashed gold;
display: inline-block;
vertical-align: text: middle;
line-height: normal;
list-style: none;
text-decoration: bold;
}


