* {
background-color: black;
color: white;
}

body{
text-align: center;
margin: 0;
padding: 0;
}

h1 {
color: purple;
}

#homeButton{
height: 30px;
width: px;
color: black;
background-color: hotpink;
}

#albumList {
margin: auto auto;
padding: 0;
height: 80vh;
width: 98vw;
border: 1px dashed gold;
display: inline-block;
vertical-align: text: middle;
line-height: normal;
list-style: none;
text-decoration: bold;
}


