<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Albums for Days</h1>

<form id="addAlbumForm" action="/albums" method="post">
    <legend>Add a NEW Album</legend>
    <input type="text" name="title" placeholder="Album Title" required>
    <input type="text" name="artist" placeholder="Artist" required>
    <input type="text" name="songs" placeholder="Number of Songs" required>
    <input type="text" name="length" placeholder="Total Length" required>
    <input type="text" name="url" placeholder="Img URL" required>
    <input type="submit">
</form>

<ul id="albumList"  th:each="album : ${albumsPunk}">
    <li>
        <!--Display album artwork-->
        <img th:src="${album.albumCover}">
    </li>
    <li>
        <!--Display total album song count-->
        <span th:text="${album.albumTitle}"></span>
    </li>
    <li>
        <!--Display total album song count-->
        <span th:text="${album.albumArtist}"></span>
    </li>
    <li>
        <!--Display total album song count-->
        <span th:text="${album.albumSongCount}"></span>
    </li>
    <li>
        <!--Display total album run time-->
        <span th:text="${album.albumLength}"></span>
    </li>
    <li>
        <!--Display album song individually-->
        <span th:text="${newSong.album}"></span>

        <!--Delete individual song-->
        <form th:action="'/albums/delete/' + ${song.id}" method="POST">
            <button class="deleteButton">Delete Song</button>
        </form>
    </li>
    <li>

        <form th:action="/albums" method="POST">
            <legend>Add a Song</legend>
            <input type="hidden" th:name="${album.id}" required>
            <input type="text" name="songName" required>
            <input type="double" name="songDuration" required>
            <input type="long" name="trackNumber" required>
            <input type="text" name="Album" required>
            <input type="submit" value="addSong" required>
        </form>

        <!--Button to remove albums from database-->
        <form th:action="'/albums/delete/' + ${album.id}" method="POST">
            <button class="deleteButton">Delete Album</button>
        </form>
    </li>
</ul>

</body>
</html>