<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Daft Punk Albums</h1>
<ul id="albumList">
    <li th:each="album : ${albumsPunk}">

        <!--Display album artwork-->
        <img th:src="${album.albumCover}">

        <!--Display album information-->
        <span th:text="${album}"></span>

        <!--Display total album song count-->
        <span th:text="${album.albumSongCount}"></span>

        <!--Display total album run time-->
        <span th:text="${album.albumLength}"></span>

    </li>
</ul>

<form action="/albums" method="post">
    <input type="text" name="title">
    <input type="text" name="artist">
    <input type="text" name="songs">
    <input type="text" name="length">
    <input type="text" name="url">
    <input type="submit">
</form>

</body>
</html>